body{
    height:100vh;
    margin:0;
background-color: hsl(243, 96%, 9%);

}


.navBar{ 
box-sizing: border-box;
padding:10px;
    min-width: 100%;
    height:10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
font-family: "Bricolage Grotesque", sans-serif;
color:white;
}

.header{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


form{margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
     font-family: "DM Sans", sans-serif;
     gap:5%;
}

input{
    border:none;
    padding:5px 35px;
    border-radius: 10px;
    width:300px;
    height:55px;
    background-color: hsl(243, 27%, 20%);
    color:white;
}

input:hover{
    cursor:default;
}

.searchbar{position:relative;

}

#search{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:10px;
}

.submit{
     font-family: "DM Sans", sans-serif;
color:white;
background-color: hsl(248, 70%, 36%);
border:none;
border-radius: 10px;
padding:5px 35px;


}


.submit:hover{
    background-color: white;
    color: hsl(248, 70%, 36%);
}


.CityAboutDiv{

    background-image: url("bg-today-large.svg");
    background-repeat:no-repeat;
    width:800px;
    height:286px;
    transition:transform 0.4s ease;
}
.CityAboutDiv:hover{
    transform: scale(1.1);
}


.city{
    width:100%;
    height:100%;
padding:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
   height:100%;
  
}

#temp{
    display:flex;
    justify-content: center;
    align-items: center;
   height:100%;
   flex-direction: row;

}


#cityname{
    color:white;
     font-family: "DM Sans", sans-serif;
     font-size:35px;
}

#temp{
      font-family: "DM Sans", sans-serif;
      font-size:75px;
      color:white;
}

#condi{
font-family: "DM Sans", sans-serif;
      font-size:15px;
      color:hsl(240, 6%, 70%);

}





.leftside{
    width:40%;
    height:100%; 
    display: none;
    justify-content: flex-start;
    margin-left:5%;
    margin-top: 5%;
    flex-direction: column;
    gap:5%;
    
}

.infos{
    width:800px;
    height:fit-content;
    display:flex;
align-items: flex-start;
justify-content: space-between;
margin-top: 5%;

}

.infos > div{
    background-color: hsl(243, 23%, 24%);
    width:180px;
    height:200px;
    border-radius: 25px;
    border:1px solid hsl(240, 2%, 54%);
display: flex;
padding:5px;
justify-content: center;
align-items: flex-start;
flex-direction: column;
padding-left: 20px;
transition: transform 0.4s ease;
}

.infos > div > h1{
    font-family: "DM Sans", sans-serif;
      font-size:15px;
      color:hsl(240, 6%, 70%);
    
}

.infos > div > p{
    font-family: "DM Sans", sans-serif;
      font-size:25px;
      color:white;
}

.infos > div:hover{
    transform: scale(1.1);
}

.days{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width:800px;
    height:fit-content;
    
}

.day{
    background-color: hsl(243, 23%, 24%);
    width:110px;
    height:170px;
    border-radius: 25px;
    border:1px solid hsl(240, 2%, 54%);
    display: flex;
align-items: center;
justify-content: center;

flex-direction: column;
padding:15px;
transition: transform 0.4s ease;
}

.forecast{
font-family: "DM Sans", sans-serif;
      font-size:25px;
      color:white;
      font-weight: 300;

}

.forecastTemp{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.forecastTemp > p{
    font-family: "DM Sans", sans-serif;
      font-size:12px;
      color:white;
}

.day > h1{
    font-family: "DM Sans", sans-serif;
      font-size:18px;
      color:white;

      
}

.day > img{
    width:50px;
    height:50px;
}

.day:hover{
transform: scale(1.1);
}

.spinner-border{
    margin-top: 300px;
    display: none;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.right{

 width:450px;
    height:600px; 
    margin-right:5%;
    margin-top: 5%;
    gap:5%;
background-color: hsl(243, 23%, 24%);
border-radius: 25px;
padding: 25px;
display: none;
flex-direction: column;


}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    position: sticky;
}

.hourlyforecast{
    display: flex;
    height:100%;
    width:100%;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    gap:40px;
    flex:1;
    overflow: hidden;


}

.head > h1{
     font-family: "DM Sans", sans-serif;
      font-size:25px;
      color:white;
      
}

.hourdiv{ 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width:100%;
    height: 60px;
    flex-shrink: 0;
    background-color: hsl(243, 23%, 30%);
    border-radius: 15px;
    color:white;
border:0.3px solid hsl(240, 2%, 54%);
padding:10px;
box-sizing: border-box;

}

.headhour > img{
    width:40px;
    height:40px;
    display: block;
    margin: 0; 
    margin-right: 5px;
}


.headhour > h1{
      font-family: "DM Sans", sans-serif;
      font-size:20px;
      color:white;
      margin: 0; 
   
      
}

.hourdiv > h2{
 font-family: "DM Sans", sans-serif;
      font-size:15px;
      color:white;
      font-weight: 200;
margin-right: 5px;
}


.rightcontent{
    gap:2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: fit-content;
    flex-direction: column;
overflow-y: auto;
scrollbar-color: hsl(243, 23%, 30%) hsl(243, 23%, 24%);
  scrollbar-width: thin;
flex:1;
max-height: 380px;
}

.headhour{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
     gap: 8px
}


.title{
    text-align: center;
    font-family: "DM Sans", sans-serif;
      font-size:50px;
      color:hsl(240, 6%, 70%);
}

.apierror{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.apierror > h1{
    font-size: 70px;
}

.apierror > img{
    width:40px;
    height:40px;

}

.apierror > p{
    color:white;
}

.apierror > button {
    height:50px;
      font-family: "DM Sans", sans-serif;
color:white;
border:none;
border-radius: 10px;
padding:5px 35px;
    background-color: hsl(243, 27%, 20%);
transition: transform 0.4s ease;
}

#retry:hover{
cursor: pointer;
transform: scale(1.1);
background-color: hsl(248, 70%, 36%);
}

#retry > img{margin-right: 10px;
}

@media(max-width: 600px) {
.content{width: 400px;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
 margin:10px;}


.leftside{
    width:450px;
    margin-left:0%;
  
}

.CityAboutDiv{ 
    width: 450px;
    height:170px;
    border-radius: 25px;
}

.infos{
    width:450px;
    gap:5%;
}
.city{
width: 400px;

}
.days{
    width:450px;
    flex-direction: row;
    flex-wrap: wrap;
}

.day{
    width:110px;
    height:150px;
    margin-top: 10px;;
}


#temp > p{
    font-size: 45px;
}

#first{
    width:100px;
    height:100px;
}
}
@media(min-width: 600px) and (max-width:1400px){
  .content{width: 800px;
flex-direction: column;
justify-content: center;
align-items: center;
 margin:10px;}  


.leftside{
    width:800px;
    margin-left:0%;
  
}

.CityAboutDiv{ 
    width: 800px;
    height:170px;
    border-radius: 25px;
}

.infos{
    width:800px;
    gap:5%;
}
.city{
width: 800px;

}
.days{
    width:800px;
    flex-direction: row;
    flex-wrap: wrap;
}

.day{
    width:110px;
    height:150px;
    margin-top: 10px;;
}


#temp > p{
    font-size: 45px;
}

#first{
    width:100px;
    height:100px;
}








}
